/.quarto/
/_site/
/site_libs/
/.Rhistory
/.Rproj.user/
/.DS_Store
/archive/
/tmp/
/GITHUB_PUBLISH_STEPS.txt
/GOOGLE_SITES_ARCHIVE_NOTICE.txt
**/.DS_Store
assets/documents/*.docx
assets/documents/~$*


**/*.quarto_ipynb
